<form class="l--full-view" [formGroup]="form" (ngSubmit)="submitForm()">
  <div>
    <h6>Name</h6>
    <mat-form-field class="l--form-input-basic">
      <input matInput formControlName="firstName" placeholder="First Name" />
    </mat-form-field>
    <mat-form-field class="l--nth-field l--form-input-basic">
      <input matInput formControlName="lastName" placeholder="Last Name" />
    </mat-form-field>
  </div>
  <div>
    <h6>Address Info</h6>
    <mat-form-field class="l--form-input-long">
      <input matInput formControlName="address" placeholder="Address" />
    </mat-form-field>
    <br />
    <mat-form-field class="l--form-input-basic">
      <input matInput formControlName="city" placeholder="City" />
    </mat-form-field>
    <mat-form-field class="l--nth-field l--form-input-short">
      <input matInput formControlName="state" placeholder="State" />
    </mat-form-field>
    <mat-form-field class="l--nth-field l--form-input-short">
      <input matInput formControlName="zip" placeholder="Zip" />
    </mat-form-field>
  </div>
  <div>
    <h6>Contact</h6>
    <mat-form-field class="l--form-input-long">
      <input matInput formControlName="email" placeholder="Email Address" />
    </mat-form-field>
    <br />
    <mat-form-field class="l--form-input-long">
      <input matInput formControlName="phone" placeholder="Phone Number" />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Preferred Contact</mat-label>
      <mat-select formControlName="preferredContact">
        @for (contactType of contactTypes; track contactType) {
        <mat-option [value]="contactType.id">{{contactType.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="l--bottom-right">
    <button type="button" class="th--italics" mat-raised-button color="accent" (click)="form.reset()">Reset</button>
    <button type="submit" mat-flat-button [disabled]="!form.valid">Submit</button>
  </div>
</form>