<mat-drawer-container class="l--full-view l--no-overflow" autosize>
  <mat-drawer #drawer class="th--nav-divider l--no-overflow" mode="side" disableClose="true" opened="true">
    <button (click)="routeTo('reactive-form')" mat-button>
      Lesson 1: Reactive Forms
    </button>
    <button (click)="routeTo('base-cva')" mat-button>
      Lesson 2: Base CVA Components
    </button>
    <button (click)="routeTo('')" mat-button>
      Practice A: Reactive Form w/ Base CVA
    </button>
    <button (click)="routeTo('customizable-cva')" mat-button>
      Lesson 3: Base CVA Customization
    </button>
    <button (click)="routeTo('')" mat-button>
      Practice B: Reusing Base CVA Components
    </button>
  </mat-drawer>

  <mat-drawer-content class="th--content-gb">
    <div class="l--centered-container main-form">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>

</mat-drawer-container>
