<div style="padding: 10px;">
  <p>The purpose of this application is to allow users to learn about Control Value Accessor components and their
    interaction with Reactive forms.</p>
  <br />
  <p>Please click an item on the left to load a test component you can mess around with.</p>
  <br />
  <p>Check source code or my <button mat-button href="https://github.com/Rlcolli4/learn-cva">GitHub</button> for
    instructions or the goal of each page.</p><br />
  <p>This material will cover the basics of reactive forms, how to build a control value accessor, and how to wire it up
    so that you can use it across multiple forms. It will also try to explain when and why you should use this solution
    instead of creating a custom form every time. It is recommended that you are familiar with basic HTML, CSS, and
    Typescript rules - especially as they apply to Angular 18 and Material 3.</p>
</div>